# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Ambientes virtuais
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Variáveis de ambiente
.env
.env.local

# Logs
*.log

.vercel

# Mídia
*.mkv
*.mp4

# Histórico de telemetria gerado/persistido em runtime
data/historico/
